<tr>
    <td align="center" style="font-size:0px;padding:0;word-break:break-word;">

        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0px;">
            <tbody>
            <tr>
                <td style="width:280px;">

                    <img height="185px" src="{\IMG}" style="border:0;display:block;outline:none;text-decoration:none;width:100%;" width="280" />

                </td>
            </tr>
            </tbody>
        </table>

    </td>
</tr>
